In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [2]:
df = pd.read_csv('16k_Movies.csv')
df.head()

,Unnamed: 0,Title,Release Date,Description,Rating,No of Persons Voted,Directed by,Written by,Duration,Genres
0,0,Dekalog (1988),"Mar 22, 1996",This masterwork by Krzysztof Kieślowski is one...,7.4,118,Krzysztof Kieslowski,"Krzysztof Kieslowski, Krzysztof Piesiewicz",9 h 32 m,Drama
1,1,Three Colors: Red,"Nov 23, 1994",Krzysztof Kieslowski closes his Three Colors t...,8.3,241,Krzysztof Kieslowski,"Krzysztof Kieslowski, Krzysztof Piesiewicz, Ag...",1 h 39 m,"Drama,Mystery,Romance"
2,2,The Conformist,"Oct 22, 1970","Set in Rome in the 1930s, this re-release of B...",7.3,106,Bernardo Bertolucci,"Alberto Moravia, Bernardo Bertolucci",1 h 47 m,Drama
3,3,Tokyo Story,"Mar 13, 1972",Yasujiro Ozu’s Tokyo Story follows an aging co...,8.1,147,Yasujirô Ozu,"Kôgo Noda, Yasujirô Ozu",2 h 16 m,Drama
4,4,The Leopard (re-release),"Aug 13, 2004","Set in Sicily in 1860, Luchino Visconti's spec...",7.8,85,Luchino Visconti,"Giuseppe Tomasi di Lampedusa, Suso Cecchi D'Am...",3 h 7 m,"Drama,History"

In [3]:
df.describe()

         Unnamed: 0        Rating
count  16290.000000  12846.000000
mean    8144.500000      6.617632
std     4702.662278      1.415272
min        0.000000      0.300000
25%     4072.250000      5.800000
50%     8144.500000      6.800000
75%    12216.750000      7.600000
max    16289.000000     10.000000

In [4]:
#1. What percentage of missing or null values exist in key columns such as Description, Directed by, and Written by?
#   How would you handle these missing values?
missing_value_per = (df.isnull().sum()/len(df))*100
total_missing = df.isnull().sum()
missing_value_outcome = pd.concat([total_missing,missing_value_per],axis=1)
missing_value_outcome

                        0          1
Unnamed: 0              0   0.000000
Title                   0   0.000000
Release Date            0   0.000000
Description             0   0.000000
Rating               3444  21.141805
No of Persons Voted  3461  21.246163
Directed by             7   0.042971
Written by            963   5.911602
Duration               13   0.079804
Genres                  5   0.030694

In [5]:
#2. Perform a summary of basic statistics (mean, median, standard deviation, min, and max) for the Rating column. 
#   Identify any outliers in movie ratings using statistical methods such as Z-scores or IQR.
print('mean',df['Rating'].mean())
print('median',df['Rating'].median())
print('standard_deviation',df['Rating'].std())
print('minimum',df['Rating'].min())
print('maximum',df['Rating'].max())

mean 6.617631947687997
median 6.8
standard_deviation 1.4152722123673525
minimum 0.3
maximum 10.0

In [6]:
df['Rating'].describe()

count    12846.000000
mean         6.617632
std          1.415272
min          0.300000
25%          5.800000
50%          6.800000
75%          7.600000
max         10.000000
Name: Rating, dtype: float64

In [7]:
#   Identify any outliers in movie ratings using statistical methods such as Z-scores or IQR.
from scipy import stats
z_scores = stats.zscore(df['Rating'])
outliers = df[(z_scores > 9) | (z_scores < -9)]
print(outliers)

Empty DataFrame
Columns: [Unnamed: 0, Title, Release Date, Description, Rating, No of Persons Voted, Directed by, Written by, Duration, Genres]
Index: []

In [8]:
# IQR 
Q1 = df['Rating'].quantile(0.25)
Q9 = df['Rating'].quantile(0.75)
IQR = Q9 - Q1

lower_bound = Q1 - 4.5*IQR
upper_bound = Q9 + 4.5*IQR
outliers_s = df[(df['Rating'] < lower_bound) | (df['Rating'] > upper_bound)]
print(outliers_s)

Empty DataFrame
Columns: [Unnamed: 0, Title, Release Date, Description, Rating, No of Persons Voted, Directed by, Written by, Duration, Genres]
Index: []

In [9]:
#3. How many unique genres exist in the dataset? What are the most common genres over time?
df['Genres'].nunique()

1663

In [10]:
df['Genres'].unique()

array(['Drama', 'Drama,Mystery,Romance', 'Drama,History', ...,
       'Action,Adventure,Horror', 'Drama,Crime,Action',
       'Comedy,Crime,Family,Sci-Fi'], dtype=object)

In [11]:
#4. Convert the Release Date column into components like year and month. What are the most frequent movie release years and months?
df['Release Date'] = pd.to_datetime(df['Release Date'])
df['Release_Year'] = pd.DatetimeIndex(df['Release Date']).year
df['Release_Month'] = pd.DatetimeIndex(df['Release Date']).month
df.head()

,Unnamed: 0,Title,Release Date,Description,Rating,No of Persons Voted,Directed by,Written by,Duration,Genres,Release_Year,Release_Month
0,0,Dekalog (1988),1996-03-22,This masterwork by Krzysztof Kieślowski is one...,7.4,118,Krzysztof Kieslowski,"Krzysztof Kieslowski, Krzysztof Piesiewicz",9 h 32 m,Drama,1996,3
1,1,Three Colors: Red,1994-11-23,Krzysztof Kieslowski closes his Three Colors t...,8.3,241,Krzysztof Kieslowski,"Krzysztof Kieslowski, Krzysztof Piesiewicz, Ag...",1 h 39 m,"Drama,Mystery,Romance",1994,11
2,2,The Conformist,1970-10-22,"Set in Rome in the 1930s, this re-release of B...",7.3,106,Bernardo Bertolucci,"Alberto Moravia, Bernardo Bertolucci",1 h 47 m,Drama,1970,10
3,3,Tokyo Story,1972-03-13,Yasujiro Ozu’s Tokyo Story follows an aging co...,8.1,147,Yasujirô Ozu,"Kôgo Noda, Yasujirô Ozu",2 h 16 m,Drama,1972,3
4,4,The Leopard (re-release),2004-08-13,"Set in Sicily in 1860, Luchino Visconti's spec...",7.8,85,Luchino Visconti,"Giuseppe Tomasi di Lampedusa, Suso Cecchi D'Am...",3 h 7 m,"Drama,History",2004,8

In [12]:
# 5. How many duplicate movies exist based on the Title column? What steps would you take to remove duplicates, if any?
df['Title'].duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
16285    False
16286    False
16287    False
16288    False
16289    False
Name: Title, Length: 16290, dtype: bool

In [13]:
#4. Convert the Release Date column into components like year and month. What are the most frequent movie release years and months?

# 5. How many duplicate movies exist based on the Title column? What steps would you take to remove duplicates, if any?

#6. Perform frequency counts of categorical columns such as Directed by and Written by. Which directors and screenwriters have the most movies in the dataset?

#7. Create a new column that classifies movies based on their Duration (e.g., short, medium, long). How many movies fall into each category, and how does the rating vary by category?

#8. What are the average and median Number of Persons Voted per movie? What is the relationship between the number of votes and the movie's Rating?

#9. Calculate the total number of movies directed by each director. What are the descriptive statistics (mean, median, max) for the number of movies directed per individual?

#10. Analyze the distribution of movies across different decades. What decade had the highest average movie rating?

#11. How many movies belong to multiple genres? What percentage of movies in each genre also belong to another genre?

#12. What is the correlation between Duration and Rating? Do longer or shorter movies tend to receive higher ratings?

#13. Calculate the average Rating for each genre. Which genres have the highest and lowest average ratings?

#14. Create a new binary flag to indicate high-rated movies (with a Rating greater than 75). How many movies fall into this category?

#15. Extract the year from the Release Date column and calculate the number of movies released per year. What trends in movie releases can be observed over time?

#21. Perform a correlation analysis between the Number of Persons Voted, Duration, and Rating. What are the correlation coefficients, and what do they reveal?

#22. Compute the proportion of movies with ratings below 50. How does this proportion change over the decades?

#23. Analyze the average Rating for movies by decade and genre. Which decade and genre combination produced the highest-rated films?

#24. Compare the number of movies and the average Rating for movies directed by men vs. women (if gender data is available). Are there any significant trends?

#25. Perform a text analysis on the Description column. Are there certain keywords in movie descriptions associated with higher or lower ratings?

In [14]:
#6. Perform frequency counts of categorical columns such as Directed by and Written by.
#   Which directors and screenwriters have the most movies in the dataset?
dir_by_counts = df['Directed by'].value_counts()
wri_by_counts = df['Written by'].value_counts()
print(dir_by_counts)
print(wri_by_counts)

Directed by
Woody Allen                                             50
Ron Howard                                              40
Clint Eastwood                                          35
Ridley Scott                                            35
Steven Spielberg                                        35
                                                        ..
Joseph Gordon-Levitt                                     1
Vadim Jendreyko                                          1
John Francis Daley, \n    \n      Jonathan Goldstein     1
Natalia Almada                                           1
Josh Pais                                                1
Name: count, Length: 7379, dtype: int64
Written by
Woody Allen                                                                                     46
Tyler Perry                                                                                     19
Hong Sang-soo                                                                                   17
John Hughes                                                                                     15
David Mamet                                                                                     15
                                                                                                ..
Bob Peterson, Peter Sohn, Erik Benson, Meg LeFauve, Kelsey Mann, Peter Hedges, Adrian Molina     1
Deric Washburn, Walon Green, David Freeman                                                       1
Charles Fuller                                                                                   1
Michael Mann, Anthony Yerkovich                                                                  1
Josh Pais                                                                                        1
Name: count, Length: 11787, dtype: int64

In [15]:
 df['Directed by'].value_counts().sort_values(ascending=False)

Directed by
Woody Allen                                         50
Ron Howard                                          40
Clint Eastwood                                      35
Ridley Scott                                        35
Steven Spielberg                                    35
                                                    ..
Cherie Nowlan                                        1
Deran Sarafian                                       1
Carlos Saldanha, \n    \n      Michael Thurmeier     1
Robert Dalva                                         1
Josh Pais                                            1
Name: count, Length: 7379, dtype: int64

In [16]:
 df['Written by'].value_counts().sort_values()

Written by
Stacey Harman, Pamela Ribon, Peyo                                                                           1
Jacques Lob, Benjamin Legrand, Jean-Marc Rochette, Bong Joon Ho, Kelly Masterson                            1
Eric Knight, Charles Sturridge                                                                              1
William Steig, Ted Elliott, Terry Rossio, Joe Stillman, Roger S.H. Schulman, Cody Cameron, Chris Miller     1
Dave Chappelle                                                                                              1
                                                                                                           ..
David Mamet                                                                                                15
John Hughes                                                                                                15
Hong Sang-soo                                                                                              17
Tyler Perry                                                                                                19
Woody Allen                                                                                                46
Name: count, Length: 11787, dtype: int64

In [17]:
#7. Create a new column that classifies movies based on their Duration (e.g., short, medium, long). 
#   How many movies fall into each category, and how does the rating vary by category?

In [18]:
df.isnull().sum()

Unnamed: 0                0
Title                     0
Release Date              0
Description               0
Rating                 3444
No of Persons Voted    3461
Directed by               7
Written by              963
Duration                 13
Genres                    5
Release_Year              0
Release_Month             0
dtype: int64

In [19]:
df['Directed by'].unique()

array(['Krzysztof Kieslowski', 'Bernardo Bertolucci', 'Yasujirô Ozu', ...,
       'Michelle Esrick', 'Martin Doblmeier', 'Josh Pais'], dtype=object)

In [20]:
df['Directed by']=df['Directed by'].copy()
df['Directed by'].fillna(method = 'ffill', inplace=True)

C:\Users\H P PC\AppData\Local\Temp\ipykernel_8924\3027959572.py:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['Directed by'].fillna(method = 'ffill', inplace=True)

In [21]:
df['Written by'].unique()

array(['Krzysztof Kieslowski, Krzysztof Piesiewicz',
       'Krzysztof Kieslowski, Krzysztof Piesiewicz, Agnieszka Holland, Edward Zebrowski, Edward Klosinski, Marcin Latallo',
       'Alberto Moravia, Bernardo Bertolucci', ...,
       'Mark Christensen, Brian Hamill', 'Martin Doblmeier', 'Josh Pais'],
      dtype=object)

In [22]:
df['Written by'] = df['Written by'].copy()
df['Written by'].fillna(method= 'ffill', inplace=True)

C:\Users\H P PC\AppData\Local\Temp\ipykernel_8924\3317085566.py:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['Written by'].fillna(method= 'ffill', inplace=True)

In [23]:
df['Rating'].min()

0.3

In [24]:
df['Rating'] = df['Rating'].copy()
df['Rating'].fillna(df['Rating'].mean(),inplace=True)

In [25]:
df.isnull().sum()

Unnamed: 0                0
Title                     0
Release Date              0
Description               0
Rating                    0
No of Persons Voted    3461
Directed by               0
Written by                0
Duration                 13
Genres                    5
Release_Year              0
Release_Month             0
dtype: int64

In [26]:
df['No of Persons Voted'] = df['No of Persons Voted'].copy()
df['No of Persons Voted'].fillna(method = 'bfill', inplace=True)

C:\Users\H P PC\AppData\Local\Temp\ipykernel_8924\338267257.py:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['No of Persons Voted'].fillna(method = 'bfill', inplace=True)

In [27]:
df.isnull().sum()

Unnamed: 0              0
Title                   0
Release Date            0
Description             0
Rating                  0
No of Persons Voted     7
Directed by             0
Written by              0
Duration               13
Genres                  5
Release_Year            0
Release_Month           0
dtype: int64

In [28]:
df.columns

Index(['Unnamed: 0', 'Title', 'Release Date', 'Description', 'Rating',
       'No of Persons Voted', 'Directed by', 'Written by', 'Duration',
       'Genres', 'Release_Year', 'Release_Month'],
      dtype='object')

In [29]:
df.head()

,Unnamed: 0,Title,Release Date,Description,Rating,No of Persons Voted,Directed by,Written by,Duration,Genres,Release_Year,Release_Month
0,0,Dekalog (1988),1996-03-22,This masterwork by Krzysztof Kieślowski is one...,7.4,118,Krzysztof Kieslowski,"Krzysztof Kieslowski, Krzysztof Piesiewicz",9 h 32 m,Drama,1996,3
1,1,Three Colors: Red,1994-11-23,Krzysztof Kieslowski closes his Three Colors t...,8.3,241,Krzysztof Kieslowski,"Krzysztof Kieslowski, Krzysztof Piesiewicz, Ag...",1 h 39 m,"Drama,Mystery,Romance",1994,11
2,2,The Conformist,1970-10-22,"Set in Rome in the 1930s, this re-release of B...",7.3,106,Bernardo Bertolucci,"Alberto Moravia, Bernardo Bertolucci",1 h 47 m,Drama,1970,10
3,3,Tokyo Story,1972-03-13,Yasujiro Ozu’s Tokyo Story follows an aging co...,8.1,147,Yasujirô Ozu,"Kôgo Noda, Yasujirô Ozu",2 h 16 m,Drama,1972,3
4,4,The Leopard (re-release),2004-08-13,"Set in Sicily in 1860, Luchino Visconti's spec...",7.8,85,Luchino Visconti,"Giuseppe Tomasi di Lampedusa, Suso Cecchi D'Am...",3 h 7 m,"Drama,History",2004,8

In [32]:
df['Duration'].describe()

array(['9 h 32 m', '1 h 39 m', '1 h 47 m', '2 h 16 m', '3 h 7 m',
       '2 h 55 m', '2 h 45 m', '3 h 36 m', '3 h 8 m', '2 h 35 m',
       '2 h 25 m', '1 h 31 m', '1 h 34 m', '1 h 58 m', '2 h 50 m',
       '2 h 33 m', '1 h 43 m', '2 h 42 m', '1 h 41 m', '2 h 2 m',
       '1 h 53 m', '2 h 12 m', '1 h 50 m', '2 h 15 m', '2 h 5 m',
       '1 h 21 m', '1 h 57 m', '2 h 14 m', '2 h 17 m', '2 h 1 m',
       '\n        http://www.killerofsheep.com/\n        ', '2 h 40 m',
       '1 h 51 m', '3 h 10 m', '1 h 52 m', '1 h 33 m', '1 h 8 m', '2 h',
       'TV-MA', '2 h 43 m', '1 h 38 m', '2 h 7 m', '2 h 11 m', '2 h 34 m',
       '2 h 37 m', '1 h 49 m', '2 h 3 m', '3 h 15 m', '1 h 46 m',
       '1 h 35 m', '1 h 54 m', '2 h 58 m', '2 h 53 m', '2 h 30 m',
       '3 h 29 m', '1 h 29 m', '1 h 23 m', '1 h 28 m', '2 h 6 m',
       '1 h 30 m', '3 h 21 m', '2 h 13 m', '2 h 9 m', '5 h 25 m',
       '1 h 44 m', '2 h 8 m', '3 h 22 m', '1 h 12 m', '1 h 45 m',
       '4 h 33 m', '1 h 42 m', '2 h 48 m', '1 h 36 m', '2 h 38 m',
       '1 h 22 m', '1 h 40 m', '1 h 59 m', '2 h 47 m', '1 h 48 m',
       '1 h 10 m', '2 h 10 m', '3 h 2 m', '1 h 37 m', '1 h 56 m',
       '1 h 55 m', nan, '1 h 27 m', '4 h', '2 h 20 m', '2 h 26 m',
       '2 h 28 m', '2 h 59 m', '2 h 4 m', '2 h 52 m', '2 h 18 m',
       '2 h 21 m', '1 h 18 m', '3 h 17 m',
       '\n        https://www.kinolorber.com/film/hit-the-road\n        ',
       '3 h 13 m', '1 h 20 m', '2 h 49 m', '1 h 32 m', '3 h 20 m',
       '4 h 6 m', '1 h 15 m', '2 h 27 m', '3 h', '1 h 25 m', '2 h 19 m',
       '3 h 26 m', '5 h 21 m', '4 h 15 m', '1 h 24 m', '3 h 4 m',
       '3 h 37 m', '8 h 15 m', '1 h 9 m', '4 h 32 m', 'Not Rated',
       '1 h 16 m', 'Unrated', '3 h 16 m', '1 h 5 m', '2 h 22 m', '30 m',
       '12 h 9 m', '1 h 26 m', '1 h 3 m', '3 h 50 m', '1 h 17 m',
       '2 h 24 m', '3 h 9 m', '2 h 31 m', '1 h 19 m', '37 m', '2 h 29 m',
       '2 h 32 m',
       '\n        http://www.afterthestormfoundation.org/\n        ',
       '2 h 51 m', '3 h 44 m', '2 h 23 m',
       '\n        http://timemachinefilm.com/\n        ', '1 h 13 m',
       '1 h 11 m', '3 h 51 m', '53 m', '3 h 46 m', '2 h 39 m', '2 h 36 m',
       '1 h', '3 h 6 m', '4 h 4 m', '2 h 44 m', '1 h 14 m', 'TV-14',
       '4 h 10 m', '\n        http://www.unrest.film/\n        ', 'PG-13',
       '2 h 54 m',
       '\n        https://www.kinolorber.com/film/theforce\n        ',
       '3 h 40 m', '2 h 41 m', '41 m', '3 h 11 m',
       '\n        http://collidingdreamsthemovie.com/\n        ', '40 m',
       '59 m', '3 h 58 m',
       '\n        https://strandreleasing.com/films/the-shadowless-tower/\n        ',
       '3 h 1 m', '3 h 57 m', 'PG', '44 m', '4 h 55 m', '1 h 6 m',
       'What Will You Find if You Pin All Your Hopes Online?',
       '13 h 28 m', '54 m', 'R', '3 h 3 m', '3 h 25 m',
       '\n        http://www.thegodfather.com/\n        ', '3 h 59 m',
       '3 h 49 m', '1 h 1 m', 'The one team that had a pair', '3 h 14 m',
       '3 h 38 m',
       'Four artists impacted by blindness. Four different paths to the imagination.',
       'One war ends. Another begins.', '3 h 35 m', '58 m',
       '\n        http://www.youdontlikethetruth.com/\n        ', '56 m',
       '\n        http://karlmarxcity.com/\n        ', '4 h 20 m',
       'TV-PG',
       '\n        https://greenwichentertainment.com/film/hello-bookstore/\n        ',
       '\n        http://www.falloffujimori.com/\n        ', '1 h 7 m',
       '\n        http://www.facebook.com/pages/Iron-Crows-Movie/201713159275#!/pages/Iron-Crows-Movie/201713159275?sk=info\n        ',
       '\n        http://aspaceprogram.com/\n        ', '2 h 56 m',
       '\n        http://www.filmmovement.com/libraries/index.asp?MerchandiseID=462\n        ',
       'On October 20, 2012, American Journalist Theo Padaos Was Kidnapped in Syria. This is His Story.',
       '47 m', '3 h 18 m', '5 h 17 m', '2 h 46 m', '2 h 57 m',
       '\n        http://www.itvs.org/external/WGOOS/WGMAIN.html\n        ',
       '3 h 12 m', '39 m',
       '\n        http://www.samuelgoldwynfilms.com/cowboys/\n        ',
       '\n        http://advancedstylefilm.com/\n        ',
       "RADICAL WOLFE is the first feature film to explore Tom Wolfe's life and work, a man who pioneered disruptive journalism, challenged American obsessions and overused punctuation way before it was cool. Tom didn't just document America, he dipped his pen in acid and took readers on a vivid trip through the summer of love, landing on the moon and 1980s Wall Street money-grubbing.",
       '52 m', 'Inside the car is another world.',
       "Once you believe something is possible, it's done already.",
       '\n        https://www.lionsgate.com/movies/the-cotton-club-encore\n        ',
       'TV-G', '\n        http://www.gracelee.net/\n        ',
       '\n        http://www.alma-films.com/\n        ',
       '\n        https://www.kinolorber.com/film/chef-flynn\n        ',
       '21 m', 'A history of the Mariel Boatlift',
       'The story of how truth became the first American casualty in Iraq.',
       '51 m',
       '\n        https://www.factorytwentyfive.com/superior\n        ',
       '\n        http://www.maureengosling.com/ramo/about/about.html\n        ',
       '4 h 30 m',
       '\n        http://www.pbs.org/pov/pov1998/sacrifice/index.html\n        ',
       '46 m',
       '\n        http://combatobscura.oscilloscope.net/\n        ',
       '\n        http://kabakovfilm.com/\n        ',
       'Is the " School of the Americas" a force of democracy or a "School of Assassins"?',
       '\n        http://www.tamala2010.com/\n        ',
       '\n        http://www.picturethisent.com/minisites/youilove/index.html\n        ',
       '\n        http://www.delicacyfilm.com/\n        ',
       '\n        http://www.filmmovement.com/libraries/index.asp?MerchandiseID=573\n        ',
       '\n        https://www.foxmovies.com/movies/once-upon-a-deadpool\n        ',
       '45 m', '\n        http://www.dogsweatthefilm.com/\n        ',
       '55 m', '48 m', '31 m',
       '\n        http://www.7thart.com/current/creature/creature.html\n        ',
       '3 h 39 m',
       '\n        https://www.amazon.com/Boys-Men-Phillip-Bartell/dp/B00005UF80\n        ',
       '\n        http://www.7thstreetmovie.com/\n        '], dtype=object)